[MASTER]
ignore=
    addon.xml,
    changelog.txt,
    LICENSE.txt,
    README.md,
    setup.cfg,
    resources,
max-line-length=119
disable=
    R0903,  # too-few-public-methods
    C0103,  # invalid-name
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring